.todoAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.todoAddDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

.taskInput {
    font-size: 12pt;
    border-radius: 1.5rem;
    padding: 0.4rem;
    border-color: black;
    width: 100%;
    outline: none;
}

.severityDiv {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.severityInput {
    padding: 0.2rem;
    font-size: 12pt;
}

.errors {
    color: red;
}

.buttonAdd {
    font-size: 14pt;
    padding: 0.5rem;
    border-radius: 15rem;
    background-color: #bcb9b9;
    border: none;
    cursor: pointer;
    min-width: 5rem;
}